{% extends 'base.html.twig' %}

{% block body %}

    {{ app.user | default( 'nepřihlášený' ) }}

    <a href="{{ url( 'new_student' ) }}">přidat</a>

    <table>
        <thead>
            <tr>
                <th>jméno</th>
                <th>příjmení</th>
                <th>třída</th>
                <th>upravit</th>
                <th>smazat</th>
                <th>detail</th>
            </tr>
        </thead>

        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td> {# firstName -> getFirstName #}
                <td>{{ student.lastName }}</td>
                <td>{{ student.clazz ? student.clazz.name : "x" }}</td>
                <td>
                    <a href="{{ url( 'edit_student' , { 'student' : student.id } ) }}">upravit</a>
                </td>
                <td>
                    <a href="{{ url( 'remove_student' , { 'student' : student.id } ) }}">smazat</a>
                </td>
                <td>
                    <a href="{{ url( 'get_student' , { 'student' : student.id } ) }}">detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}