{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start( form , { 'method' : 'PUT' , 'action' : url( 'put_student' , { 'student' : global.request.attributes.get( 'student' ) } ) } ) }}

    {% include '/student/form.html.twig' %}

    <button type="submit">upravit</button>

    {{ form_end( form ) }}

{% endblock body %}