
<table>
    <tr>
        <th>{{ form_label( form.firstName ) }}</th>
        <td>{{ form_widget( form.firstName , { 'attr' : { 'placeholder' : form.firstName.vars.label } } ) }}</td>
        <td>{{ form_errors( form.firstName ) }}</td>
    </tr>
    <tr>
        <th>{{ form_label( form.lastName ) }}</th>
        <td>{{ form_widget( form.lastName , { 'attr' : { 'placeholder' : form.lastName.vars.label } } ) }}</td>
        <td>{{ form_errors( form.lastName ) }}</td>
    </tr>
    <tr>
        <th>{{ form_label( form.Clazz ) }}</th>
        <td>{{ form_widget( form.Clazz ) }}</td>
        <td>{{ form_errors( form.Clazz ) }}</td>
    </tr>
</table>
