{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <th>Jméno</th>
            <td>{{ student.firstName }}</td>
        </tr>
        <tr>
            <th>Příjmení</th>
            <td>{{ student.lastName }}</td>
        </tr>
        <tr>
            <th>Třída</th>
            <td>{{ student.Clazz ? student.Clazz.name : 'x' }}</td>
        </tr>

        {% if student.StudentInfo is not null %}
            <tr>
                <th>Email</th>
                <td>{{ student.StudentInfo.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ student.StudentInfo.phone }}</td>
            </tr>
        {% endif %}

    </table>

{% endblock body %}