{% extends 'base.html.twig' %}

{% block body %}

    Opravdu smazat studenta
    <strong>{{ student.firstName }}</strong>
    <strong>{{ student.lastName }}</strong>
    ?

    <form method="post" action="{{ url( 'delete_student' , { 'student' : global.request.attributes.get( 'student' ) } ) }}">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Ano</button>
        <button type="button" onclick="location.assign( '{{ url( 'get_students' ) }}' )">Ne</button>
    </form>

{% endblock body %}