{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ url( 'new_class' ) }}">přidat</a>

    <table>
        <thead>
            <tr>
                <th>název</th>
                <th>studentů</th>
                <th>učitelů</th>
                <th>upravit</th>
                <th>smazat</th>
                <th>detail</th>
            </tr>
        </thead>

        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.name }}</td> {# firstName -> getFirstName #}
                <td>{{ class.students.count }}</td>
                <td>{{ class.teachers.count }}</td>
                <td>
                    <a href="{{ url( 'edit_class' , { 'class' : class.id } ) }}">upravit</a>
                </td>
                <td>
                    <a href="{{ url( 'remove_class' , { 'class' : class.id } ) }}">smazat</a>
                </td>
                <td>
                    <a href="{{ url( 'get_class' , { 'class' : class.id } ) }}">detail</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}