{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start( form , { 'method' : 'PUT' , 'action' : url( 'put_class' , { 'class' : global.request.attributes.get( 'class' ) } ) } ) }}

    {% include '/class/form.html.twig' %}

    <button type="submit">upravit</button>

    {{ form_end( form ) }}

{% endblock body %}