
<table>
    <tr>
        <th>{{ form_label( form.name ) }}</th>
        <td>{{ form_widget( form.name , { 'attr' : { 'placeholder' : form.name.vars.label } } ) }}</td>
        <td>{{ form_errors( form.name ) }}</td>
    </tr>
    <tr>
        <th>{{ form_label( form.Students ) }}</th>
        <td>{{ form_widget( form.Students ) }}</td>
        <td>{{ form_errors( form.Students ) }}</td>
    </tr>
    <tr>
        <th>{{ form_label( form.Teachers ) }}</th>
        <td>{{ form_widget( form.Teachers ) }}</td>
        <td>{{ form_errors( form.Teachers ) }}</td>
    </tr>
</table>
