{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <th>Název</th>
            <td>{{ class.name }}</td>
        </tr>
        <tr>
            <th>Počet studentů</th>
            <td>{{ class.Students.count }}</td>
        </tr>
        <tr>
            <th>Počet učitelů</th>
            <td>{{ class.Teachers.count }}</td>
        </tr>

    </table>

{% endblock body %}