{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start( form , { 'method' : 'POST' , 'action' : url( 'post_classes' ) } ) }}

    {% include '/class/form.html.twig' %}

    <button type="submit">přidat</button>

    {{ form_end( form ) }}

{% endblock body %}