{% extends 'base.html.twig' %}

{% block body %}

    Opravdu smazat třídu
    <strong>{{ class.name }}</strong> , která obsahuje
    <strong>{{ class.Students.count }}</strong>  studentů
    ?

    <form method="post" action="{{ url( 'delete_class' , { 'class' : global.request.attributes.get( 'class' ) } ) }}">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Ano</button>
        <button type="button" onclick="location.assign( '{{ url( 'get_classes' ) }}' )">Ne</button>
    </form>

{% endblock body %}