<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title 'sem přijde titulek' %}</title>
</head>
<body>
    {% block body %}
        sem přijde tělo
    {% endblock body %}
</body>
</html>