<table>
    <tr>
        <th>Jméno</th>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <th>Pohlaví</th>
        <td>{{ data.gender | join( ',' ) }}</td>
    </tr>
    <tr>
        <th>Země</th>
        <td>{{ data.country }}</td>
    </tr>
    <tr>
        <th>Datum</th>
        <td>{{ data.birthday | date( 'H:i:s d.m.Y' ) }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ data.email }}</td>
    </tr>
</table>