{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start( uzivatel , { 'method' : 'POST' } ) }}

        <table>
            <tr>
                <th>{{ form_label( uzivatel.name ) }}</th>
                <td>{{ form_widget( uzivatel.name , { 'attr' : { 'placeholder' : uzivatel.name.vars.label } } ) }}</td>
                <td>{{ form_errors( uzivatel.name ) }}</td>
            </tr>
            <tr>
                <th>{{ form_label( uzivatel.gender ) }}</th>
                <td>{{ form_widget( uzivatel.gender ) }}</td>
                <td>{{ form_errors( uzivatel.gender ) }}</td>
            </tr>
            <tr>
                <th>{{ form_label( uzivatel.country ) }}</th>
                <td>{{ form_widget( uzivatel.country ) }}</td>
                <td>{{ form_errors( uzivatel.country ) }}</td>
            </tr>
            <tr>
                <th>{{ form_label( uzivatel.birthday ) }}</th>
                <td>{{ form_widget( uzivatel.birthday ) }}</td>
                <td>{{ form_errors( uzivatel.birthday ) }}</td>
            </tr>
            <tr>
                <th>{{ form_label( uzivatel.email ) }}</th>
                <td>{{ form_widget( uzivatel.email ) }}</td>
                <td>{{ form_errors( uzivatel.email ) }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ form_widget( uzivatel.submit ) }}</td>
                <td></td>
            </tr>
        </table>

    {{ form_end( uzivatel ) }}

{% endblock body %}