{% extends "base.html.twig" %}


{% block body %}

    <form action="{{ url('login_check') }}" method="post" role="form">

        <div class="form-group">
            <label for="_username">{{ 'user.username' | trans }} / Email:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <input type="text" name="_username" id="_username" placeholder="{{ 'user.username' | trans }}" value="{{ last_username }}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="_password">{{ 'user.password' | trans }}:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </div>
                <input type="password" name="_password" id="_password" placeholder="{{ 'user.password' | trans }}" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="{{ 'user.login' | trans }}" class="btn btn-info" />
            {#<a href="{{ url( 'get_register_user' ) }}" class="btn btn-warning">{{ 'user.register' | trans }}</a>#}
        </div>

    </form>


    {% if last_error %}
        <div class="alert alert-danger">
            {{ last_error | trans }}
        </div>
    {% endif %}


{% endblock body %}
